<% content_for :page_title, "ダッシュボード" %>
<%= render "shared/content_title", title: "ダッシュボード" %>
<% if user_signed_in? %>
  <h2>ユーザー情報</h2>
  <div>
    <p>
      <%= @username %>
    </p>
  </div>
  <div>
    <p>
      <%= @user_id %>
    </p>
  </div>
<% else %>
<% end %>
